<h1>{{title}}</h1>

<p>MAKE THIS A LANDING PAGE</p>

<div class="container">

  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>

  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="width: 16rem;">
      <img class="card-img-top" src="https://i5.walmartimages.ca/images/Enlarge/580/6_r/875806_R.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bananananana</h5>
        <p class="card-text">A man's favorite food. Potassium is included.</p>
        <a href="https://www.walmart.ca/en/ip/banana-sold-in-singles/875805" class="btn btn-primary">Buy</a>
      </div>
    </div>
  </div>

</div>
