<header>
  <div class="section main-header">
    <div class="fucktyler">
      <div>
        <div class="jumbotron specialjum">
          <h1 class="display-4">FoodCoin</h1>
          <p class="lead">Freeing the homeless from their chains.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="./dashboard" role="button">Go To Dashboard</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
