<header>
  <div class="section main-header">
    <div class="header-text">
      <div class="title">
        <h1>{{title}}</h1>
      </div>
      <div class="subtitle">
        <h2>Freeing the homeless from their chains.</h2>
      </div>
    </div>
  </div>
</header>
