<header>
  <div class="section main-header">
    <div class="base">
      <div>
        <div class="jumbotron specialjum">
          <h1 class="display-4">FoodCoin</h1>
          <p class="lead">
            <blockquote class="blockquote text-center">
              <p class="mb-0">In the social jungle of human existence, there is no feeling of being alive without a sense of identity.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Erik Erikson</cite></footer>
            </blockquote>
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="./dashboard" role="button">Go To Dashboard</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
