<!-- CORRESPONDS TO THE PAGE FOR TRULIO VERIFICATION -->
<h3>Verify</h3>

<div align="center">
  <form class="center" action="/verify/index" method="post">
    <div>
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="FirstGivenName" placeholder="John">
    </div>
    <div>
      <label for="mname">Middle Name:</label>
      <input type="text" id="mname" name="MiddleName" placeholder="Henry">
    </div>
    <div>
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="FirstSurName" placeholder="Smith">
    </div>
    <div>
      <div>
        <label for="date">Date of birth:</label>
        <input type="number" id="date" name="DayOfBirth" placeholder="05">
      </div>
      <div>
        <label for="month">Month of birth:</label>
        <input type="number" id="month" name="MonthOfBirth" placeholder="03">
      </div>
      <div>
        <label for="year">Year:</label>
        <input type="number" id="year" name="YearOfBirth" placeholder="1983">
      </div>

    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="string" id="phone" name="Telephone" placeholder="0398968785">
    </div>

    <div>
      <button type="submit">Verify</button>
    </div>





  </form>
</div>
