.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}

.card {
  margin-bottom: 4vh;
}

body, html {
  height: 100%;
}

.main-header {
  height: 100vh;
  background-image: url('./foodbank.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
