<!-- CORRESPONDS TO THE PAGE FOR TRULIO VERIFICATION -->
<h3>Test Form</h3>

<div align="center">
  <form class="center" action="/test/testform" method="post">
    <div>
      <label for="name">name:</labe l>
      <input type="text" id="name" name="FirstGivenName" placeholder="John">
    </div>

    <div>
      <div>
        <label for="date">Date of birth:</label>
        <input type="number" id="date" name="DayOfBirth" placeholder="05">
      </div>
      <div>
        <label for="month">Month of birth:</label>
        <input type="number" id="month" name="MonthOfBirth" placeholder="03">
      </div>
      <div>
        <label for="year">Year:</label>
        <input type="number" id="year" name="YearOfBirth" placeholder="1983">
      </div>

    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="number" id="phone" name="Telephone" placeholder="0398968785">
    </div>

    <div>
      <button type="submit" name="submit">Verify</button>
    </div>





  </form>
</div>
